
<div class="container">
  <form ng-submit="$ctrl.createShow(post, show)">
    <div class="form-group">

        <label for="inputName" class="col-form-label">Show Name</label>
        <input type="text"
          ng-model="$ctrl.show.name"
          class="form-control"
          id="inputName" placeholder="Name of show">
    </div>

    <div class="form-row">

      <div class="form-group col-md-4">
        <label for="inputDate" class="col-form-label">Date</label>
        <input type="date"
          ng-model="$ctrl.show.date"
          class="form-control"
          id="inputDate" placeholder="12/31/1999">
      </div>
      <div class="form-group col-md-3">
        <label for="inputTime" class="col-form-label">Time</label>
        <input type="time"
          ng-model="$ctrl.show.time"
          class="form-control"
          id="inputTime" placeholder="07:30 PM">
      </div>

    </div>

    <div class="form-group">
      <label for="inputDescription" class="col-form-label">Description</label>
      <input type="text"
        ng-model="$ctrl.show.description"
        class="form-control"
        id="inputDescription" placeholder="Hype your show">
    </div>

    <div class="form-group">
      <label for="inputRoom" class="col-form-label">Room id</label>
      <input type="text"
        ng-model="$ctrl.show.room_id"
        class="form-control"
        id="inputRoom" placeholder="Room id">
    </div>

<!-- TODO: create drop down form for creating rooms -->
<!-- TODO: check out autocomplete for existing rooms -->

    <!-- <div class="form-group">
      <select class="form-control"
        ng-model="$ctrl.service.name"
        ng-options="key as value for (key , value) in $ctrl.options">

      </select>

      <p>Don't see your room/venue in the drop down list?</p>
      <a class="nav-link"
        ui-sref-active="active"
        ui-sref="post-room">Create a new room/venue</a>
    </div> -->

    <div class="form-group">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input"
            ng-model="$ctrl.show.is_clean"
            type="checkbox"> Check this box if your show requires clean material
        </label>
      </div>
    </div>
    <button type="submit"
      class="btn btn-primary">Submit</button>
  </form>
</div>
