.day {
  color: #FF9900;
}

.list-box {
  /*border-top: .6px solid #298FE5;
  border-bottom: .6px solid #298FE5;*/
  margin-top: .5em;
  margin-bottom: .5em;
  /*background-color: #2277BF;*/
  background-color: #333333;
  opacity: .6;
}

.media-body {
  margin: 2em;
}
