.death {
  background-color: #174F7F;
  opacity: .7;
}

/*.navbar-box {
  background-color: #666666;
}*/

header {
  display: flex;
  align-content: center;
}

.user-image {
  padding-left: 2em;
}

.nav-location {
  padding-left: 4em;
  align-self: center;
}

.fa {
  color: #ffffff;
  font-size: 5em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.active {
  color: orange;
}
