.media-body .fa {
  color: #ffffff;
  font-size: 5em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.user-photo-sm {
  clip-path: circle(100px at center);
  padding: 20px;
}

.user-list {
  align-items: center;
}
